.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
/.quarto
/.config/raycast/*
/.continue
dotfiles.code-workspace
/.config/github-copilot
/_freeze
.aider.tags*
.aider.chat*
.aider.input*
.env
.config/git/config
.config/nvim/init.lua
.config/nvim/queries/nix/injections.scm
.config/gh/
