/* Quarto Highlight Extension (HTML only) */

/* Default highlight styles */
mark, .mark {
  position: relative;
  background: transparent;
  color: inherit;
  padding: 0 .1em;
}

mark::before,
.mark::before {
    content: "";
    position: absolute;
    background-color: var(--hl-color, #fff3a3);
    z-index: -1;
    left: -0.3em;
    right: -0.3em;
    top: -0.1em;
    bottom: -0.1em;
    transform: skewX(-14deg) rotate(-1deg);
    border-radius: 0.3em;
}

/* Optional palette using data-hl attribute when writing <mark data-hl="…"> or [text]{data-hl="…"} */
[data-hl="yellow"] { --hl-color: #fff3a3; }
[data-hl="orange"] { --hl-color: #ffe8a3; }
[data-hl="green"]  { --hl-color: #c8f7c5; }
[data-hl="blue"]   { --hl-color: #cfe8ff; }

